/* 
    Editado por Pedro y Angel
    14/05/2020
    Salamanca
*/


.bg-dark {
    background-color: #1B1464!important;
}
.bg-primary, a.bg-primary:focus, a.bg-primary:hover, button.bg-primary:focus, button.bg-primary:hover {
    background-color: #1B1464!important;
}

/* Imagen index html */
@media (min-width: 992px) {
    .principal {
        background-image: url(FotosMotos/principal.png);
        background-repeat: no-repeat;
        background-position: -32% 87%;
    }
}
@media (min-width: 1200px) {
    .principal {
        background-position: 10% 87%;
    }
}
.principal {
    margin-top: 10%;
}
.col-12 > h1 {
    padding: 10% 0;
}
.nav-link > .svg-inline--fa {
    font-size: 18pt;
}
.d-md-inline-block {
    font-weight: 400;
    letter-spacing: 1pt;
    font-size: 18pt;
}
.foto-moto:hover {
    filter: sepia(1);
}
.foto-moto {
    transition-duration: 2s;
}
.b-0 {
    bottom: 0;
}
.bg-shadow {
    background: rgba(76, 76, 76, 0);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(179, 171, 171, 0)), color-stop(49%, rgba(48, 48, 48, 0.37)), color-stop(100%, rgba(19, 19, 19, 0.8)));
    background: linear-gradient(to bottom, rgba(179, 171, 171, 0) 0%, rgba(48, 48, 48, 0.71) 49%, rgba(19, 19, 19, 0.8) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313', GradientType=0 );
}
.top-indicator {
    right: 0;
    top: 1rem;
    bottom: inherit;
    left: inherit;
    margin-right: 1rem;
}
.overflow {
    position: relative;
    overflow: hidden;
}
.zoom img {
    transition: all 0.2s linear;
}
.zoom:hover img {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}